{{!-- ** Add the following to main.hbs *** --}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
<footer>
  <p>Contact: n01675664@humber.ca</p>
</footer>
  </body>
</html>
