{{!-- ** Add the following to main.hbs *** --}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
  <h1>Assignment 2 – Jeffrey Lamptey (N01675664)</h1>
</header>

  </body>
</html>
